body{
    color:rgb(26, 31, 36);

}
.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 10rem;
    background: linear-gradient(90deg, rgb(97, 51, 195) 0%, rgb(134, 12, 204) 100% );

    font-size: 3rem;
    min-width:80rem;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow:0 0.4rem 1.4rem 0 rgb(202, 27, 202, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}
.choice-prefix{
    padding: 2rem 2.5rem;
    color:rgb(7, 5, 5);

}

.choice-text{
    padding: 2rem;
    width:100%;
}


/* heads up display */
 

#countdownTimer{
    display: flex;
   
    justify-content: space-between;
} 

/* this styles the number score */
#scoreKeeper{
     display: flex;
   
     justify-content:end;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

#AnswerResponse{
    font-size: 2rem;
    font-weight: bold;
}

#quizContainer{
    margin-top: 20vw;
}

.highscore-class{
    font-size: 4rem;
    text-align: center;
    
   
}



#timer{
font-size: xx-large;
color: rgb(70, 7, 134);
}

@media screen and (max-width: 768px){
    .choice-container{
        min-width:40rem;
    }
    .container{
        padding:20rem;
    }
}